@CHARSET "UTF-8";

#fanhui_detail {
	position: absolute;
	top: 20px;
	left: -120px;
}

#fanhui_userinfo {
	position: absolute;
	top: 180px;
	left: 120px;
}

@font-face {
	font-family: "iconfont";
	src: url('iconfont.eot'); /* IE9*/
	src: url('iconfont.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ 
   url('iconfont.woff') format('woff'), /* chrome、firefox */ 
   url('iconfont.ttf') format('truetype'),
		/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ 
   url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont" !important;
	font-style: normal;
}

.icon-che:before {
	content: "\e612";
}

.icon-fanhui:before {
	content: "\e621";
}
span .icon { /*返回图标*/
	font-size: 42px;
	margin: 10px 0;
	color: #00e;
	-webkit-transition: font-size 0.25s ease-out 0s;
	-moz-transition: font-size 0.25s ease-out 0s;
	transition: font-size 0.25s ease-out 0s;
}

.icon_che { /*车图标*/
	font-size: 46px;
	line-height: 46px;
	margin: 10px 0;
	color: #005880;
	-webkit-transition: font-size 0.25s ease-out 0s;
	-moz-transition: font-size 0.25s ease-out 0s;
	transition: font-size 0.25s ease-out 0s;
}

a,a:HOVER {
	text-decoration: none;
}

i{
	list-style: none;
	
}